In [ ]:
# loops: are used to repeat instruction.

In [3]:
i = 1     # here i is known as iteration
while i <= 5:
    print("hello")
    i = i +1

hello
hello
hello
hello
hello

In [1]:
"""Q. print number from 1 to 20"""
i=1
while i<= 20:
    print(i)
    i= i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [2]:
"""Q. print number 20 to 1"""
i = 20
while i >= 1:
    print(i)
    i= i-1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [22]:
"""print the multiplication table of a number n. """
i=1
n= int(input("enter the value:"))
while i<=10:
    print(n*i)
    i= i+1

enter the value: 58

58
116
174
232
290
348
406
464
522
580

In [30]:
"""Q. print the elements of the list using loop [1,4,9,16,25,36,49,64,81,100]"""
h=[1,4,9,16,25,36,49,64,81,100]
idx=0
while idx < len(h):
    print(h[idx])
    idx= idx+1

1
4
9
16
25
36
49
64
81
100

In [16]:
"""search for a number x in this tuple using loop. (1,4,9,16,25,36,49,64,81,100)"""
k=(1,4,9,16,25,36,49,64,81,100)
x=36
i=0
while i<len(k):
    if x==k[i]:
        print("found at idx", i)
    i = i+1

found at idx 5

In [8]:
# break: used to terminate the loop when encountered.
i= 0
while i <10:
    print(i)
    if i == 6 :
        print("till here only")
        break
    i = i+1

0
1
2
3
4
5
6
till here only

In [3]:
#continue: terminates execution in the current iterartion and continues execution of the loop with the nrxt iteration.
i= 0
while i <= 10:
    if i == 6 :
        i = i+1
        continue
    print(i)
    i = i+1

0
1
2
3
4
5
7
8
9
10

In [4]:
# for loop
kkk= [1,2,3,4,5,6]
for i in kkk:
    print(i)

1
2
3
4
5
6

In [7]:
veggies= ['aloo','gobi','paalak','gaazar','looki']
for i in veggies:
    print(i.upper())

ALOO
GOBI
PAALAK
GAAZAR
LOOKI

In [2]:
strr = "HATHRAS"
for i in strr:
    print(i)

H
A
T
H
R
A
S

In [7]:
strr = "HATHRAS"
for i in strr:
    if i == "A":
        print("hello")
    else:
        print(i)
print("hhh")

H
hello
T
H
R
hello
S
hhh

In [9]:
""" Q. print the elemnts of the following list using a loop: [1,4,9,16,25,36,49,64,81,100]"""
AA = [1,4,9,16,25,36,49,64,81,100]
for i in AA:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [24]:
"""search for a number x in this tuple using loop. (1,4,9,16,25,36,49,64,81,100)"""
aa = (1,4,9,16,25,36,49,64,81,100)
x = 64
p= 0
for i in aa:
    if x == i:
        print("x founded", p)
    p = p+1

x founded 7

In [26]:
# range : is a function that return sequence of number from 0 to where we end less 1.
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
"""Q. print numbers from 1 to 10 by using for and range"""

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [32]:
""" Q. print numbers from 10 to 1."""

for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [35]:
"""Q. print multiplication table of a number n"""

n = int(input("Enter any value: "))
for i in range (1,11):
    print(n*i)

Enter any value:  58558

58558
117116
175674
234232
292790
351348
409906
468464
527022
585580

In [12]:
""" Q. find the sum of first n numbers."""
n= int(input("Enter the value: "))
sum= 0
for i in range(n+1):
    sum= sum+i
print(sum)

Enter the value:  36

666

In [2]:
#  by while loop
n = int(input("Enter the value: "))
sum = 0
i=1
while i < n+1:
    sum = sum+i
    i = i +1
print(sum)

28

In [43]:
""" Q. write a program to find factorial of first n numbers"""
n = int(input("Enter the value: "))
p=1
for i in range(1,n+1):
    p = p*i
print(p)

120

In [9]:
#using while
n = int(input("Enter the value: "))
p= 1
i= 1
while i <= n:
    p = p*i
    i = i+1
print(p)

Enter the value:  8

40320

In [24]:
#function : are the block of statements that performs a specific task.

def cal_sum(a,b):
    sum = a + b
    return sum

In [25]:
cal_sum(1,2)

3

In [30]:
def print_hello():
    print("hello")

In [31]:
print_hello()

hello

In [36]:
# average of 3 numbers

def avg_pp(a,b,c):
    hh = a+b+c
    avg= hh / 3
    return avg

In [37]:
avg_pp(5,6,7)

6.0

In [ ]:
# functions are of 2 type built-in and user defined.

In [9]:
oo = ["PULKIT", "VARSHNEY"]
print(oo)

['PULKIT', 'VARSHNEY']

In [6]:
print("PULKIT")
print("VARSHNEY")

PULKIT
VARSHNEY

In [8]:
print("PULKIT", end = " ")
print("VARSHNEY")

PULKIT VARSHNEY

In [14]:
len(oo[1])

8

In [20]:
"""Q. WAF to print the lenght of a list (list is a parameter) with the use of function"""

def lenght(a):
    lenghtt = len(a)
    return lenghtt

list2 = ["hello", "how","are","you"]

lenght(list2)

4

In [7]:
list2 = ["hello", "how","are","you"]
def looping(a):
    for char in a:
        print(char, end=" ")

looping(list2)

hello how are you

In [9]:
list3= ["Pulkit", "Satyam","Pranav","Vishal","Rohit"]
looping(list3)

Pulkit Satyam Pranav Vishal Rohit

In [10]:
"""Q. find a function of factorial of n."""
def factorial(n):
    i = 1
    p = 1
    for i in range(1,n+1):
        p = p*i
        i = i+1
    print(p)

In [13]:
factorial(6)

720

In [21]:
"""Q. convert usd to inr"""
def converted(x):
    y = 83*x
    print("USD", x ,"=", "INR", y)


converted(94)

USD 94 = INR 7802

In [24]:
"""Q. create a function which shows even and odd number as even and odd in string"""
def finder(x):
    if x%2 == 0:
        print("Number is EVEN :" ,x)
    else:
        print("Number is ODD :",x)

finder(94)

Number is EVEN : 94

In [31]:
#### Recursion: is when function call itself repeated.(substitute to loops)

def show(n):
    if n == 0:
        return
    print(n)
    show(n-1)
    print("end")
    
    
show(4)

4
3
2
1
end
end
end
end

In [6]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    return fact(n-1)*n



fact(15)

1307674368000

In [13]:
""" Q. write the sum of first n natural numbers."""

def sums(k):
    if k == 0 :
        return 0
    return k+ sums(k-1)

sums(10)

55

In [28]:
"""Q. write a recursion function to print all elements in list."""
def listy(list, idx):
    if idx == len(list):
        return
    print(list[idx])
    listy( list,idx+1)

In [29]:
list5 = [1,2,3,4,5,6]
listy(list5,2)

3
4
5
6