In [ ]:
# function is a reusable named block of code that perform a specific task or returns a value.
# it is of two type i.e. built-in and user defined.
# user defined function: Functions that we define ourselves to do certain specific task.
# built-in functions: function that are available by the python itself.

In [17]:
# user defined functions
## void function: that have no value written or empty.
def greeting():
    print("Hello , How are you?")

In [11]:
greeting()

Hello, How are you?

In [10]:
def greeting(name, des):
    print(f"Hello {name}, How are you {des}?")      # f is known as format for making statement dynamic.

In [11]:
greet = greeting("Pulkit","Mr.")

Hello Pulkit, How are you Mr.?

In [12]:
greet # it shows no value and if we print(greet) then we get none in the result.

In [2]:
# non void function : that can have some value and store in the new variable. 
def multiplication(x,y):
    return x*y

In [7]:
multiple = multiplication(5,6)
multiple

30

In [16]:
# for multiple values   (*) shows unlimited arguments
def argment(*args):
    for arg in args:
        print(arg)

In [17]:
argment(1,2,3,4,5,6,7,8,9)

1
2
3
4
5
6
7
8
9

In [18]:
def namess(name , message, *bags):
    print(name)
    print(message)
    for bag in bags:
        print(bag)

In [19]:
namess("Pulkit", "messages",1,2,3,4,5,6)

Pulkit
messages
1
2
3
4
5
6

In [ ]:
# lambda function - anonymous function because it can be used anywhere.

In [20]:
add= lambda x,y :x+y

In [21]:
add(5,8)

13

In [22]:
sq = lambda x: x**2

In [23]:
sq(9)

81

In [26]:
# Ques. -- create a lambda function converter celsius to farh.
temp = lambda x: x*9/5 +32 # or x*1.8 +32
temp(37)

98.6

In [ ]:
# list comprehension: is a simple way to create a new list by applying operations.

In [51]:
even_num =[(i**2) for i in range(15) if i%2 == 1 ]

In [52]:
even_num

[1, 9, 25, 49, 81, 121, 169]

In [50]:
lll= [(lambda x: x**2)(i) for i in range(10,20) if i%2 ==0]
lll

[100, 144, 196, 256, 324]

In [68]:
# Ques. -- collecting emails only of @example.com
email_addresses = ["user1@gmail.com", "user2@example.com","user3@okaxis.com","user4@example.com"]
email = []
email1= [email for email in email_addresses if "@example.com" in email]
email1                                 # or if email.endswith("@example.com")

['user2@example.com', 'user4@example.com']

In [ ]:
# map and filter

In [71]:
number= [i for i in range(10)]
number_map = list(map(lambda x : x**2, number))
number_map

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
even= list(filter(lambda x: x%2 ==0, number))
even       # filter is like if and else condition.

[0, 2, 4, 6, 8]

In [3]:
# OOPs concepts: object orientated programming

In [4]:
class clas_name:
    """" doc string"""
    #statement1
    #statement2

In [1]:
# parameterized construction
class student:
    """creating students details object"""
    
    def __init__(self,name , rollno):
        self.name = name 
        self.rollno = rollno
        
    def show(self):
        print(f"name: {self.name} has roll number = {self.rollno}")

In [4]:
student1 = student("Sahil",'123456')

In [3]:
student2 = student("Pulkit", '147896')

In [14]:
a = "abc"

In [15]:
type(a)

str

In [5]:
student2.show()

name: Pulkit has roll number = 147896

In [32]:
# default construction
class person:
    def display(self):
        print ('inside display')

In [34]:
man = person()

In [35]:
type(man)

__main__.person

In [44]:
# parameterized construction
class student:
    """creating students details object"""
    
    company ="pwskills"
    
    def __init__(self,name , rollno):   # self is object's variable
        self.name = name 
        self.rollno = rollno
        
    def show(self):
        print(f"name: {self.name} has rollnumber = {self.rollno}")
    
    def upper_case(self):
        print(f"name in capital: {self.name.upper()}")
    
    def company_name(cls):  # cls is template's variable
        print(f"name in capital:{cls.company.upper()}")

In [42]:
student3 = student("ravi", 15645)

In [ ]:
student3.company_name()

In [1]:
class vehicle:
    def __init__(self, speed):
        self.speed = speed
        
    def display_speed(self):
        print(f"speed of vehicle{self.speed}")
    
class car(vehicle):
    def __init__(self,speed,brand):
        super().__init__(speed)
        self.brand = brand
        
    def display_brand(self):
        print(f"display {self.brand}")
        
class Type(car):
    def __init__(self, speed, brand,type):
        super().__init__(speed, brand)
        self.type = type
    
    def display_type(self):
        print(f"display {self.type}")

In [22]:
mahindra = car(120,"Mahindra")

In [16]:
mahindra_hatchback = Type(120, "mahindra", "hatchback")

In [18]:
mahindra_hatchback.type

'hatchback'

In [24]:
mahindra.brand

'Mahindra'

In [ ]:
#shradha oops

In [4]:
# class is a blueprint for creating objects.
# class is form from two elements i.e. attributes and methods(or functions)
# creating class
class Student:
    name ="karan"
    
# creating objects
s1 = Student()
print(s1.name)

karan

In [5]:
s2 = Student()
print(s2.name)

karan

In [10]:
class Car:
    color = "blue"
    brand = "mercedes"

In [11]:
car1 = Car()
print(car1.color)
print(car1.brand)

blue
mercedes

In [47]:
# __init__ function ("Constructor") it is compulsary if we don't create it python automatically creates it.
# all classes have a function called init function which is always executed when the class is being initiated.
# attributes: the data\variables inside the class is known as attribute.
# attribute are of two type 
#class attribute : which is same for every elements.
# instances attributes: which are different for every objects.

class Student:
    
    college_name = "ABC college"   # class attribute
    
    def __init__(self):    # default constructors.
        pass

    def __init__(self, name, marks):      # parameterized constructor: more data other than self.
        self.name = name                  # these name and marks are instances attributes.
        self.marks = marks
        print("adding new student in database..")
    
    def welcome(self):
        print("welcome student", self.name)
        
    def get_marks(self):
        print("marks", self.marks)

In [49]:
s1 = Student("karan","95")
print(s1.name, s1.marks, s1.college_name)

adding new student in database..
karan 95 ABC college

In [37]:
s2= Student("arjun", "89")
print(s2.name, s2.marks)

adding new student in database..
arjun 89

In [41]:
Student.college_name    # class atribute

'ABC college'

In [ ]:
# methods: are the functions that belong to objects.

In [50]:
s1.get_marks()

marks 95

In [53]:
s1.welcome()

welcome student karan

In [23]:
"""
Q. create class that takes name and marks of three subjects as arguments in constructor.
   then create a method to print the average.(use list)
   """
lists = ["MATHS","SST","EVS"]
lists1= [96,89,97]
class Stud:
    def __init__(self, Names, lists1, lists):
        self.Names = Names
        self.lists1 = lists1
        self.lists = lists
        print("Have a look")
        
    def avg_marks(self):
        sum=0
        for val in self.lists:
            sum += val
        print("Hello", self.Names , "your avrage score is", sum/3)

T1= Stud("Pulkit", lists , lists1)
T1.Names

Have a look

'Pulkit'

In [83]:
T1.Names = "Ram"    # want to change name.
T1.avg_marks()

Hello Ram your avrage score is 94.0

In [26]:
lists = ["MATHS","SST","EVS"]
lists1= [96,89,97]
class Studs:
    def __init__(self, Names, lists1, lists):
        self.Names = Names
        self.lists1 = lists1
        self.lists = lists
        print("Have a look")
T8= Studs("Pulkit", lists , lists1)

Have a look

In [22]:
t8.

[__main__.studs, object]