In [5]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [118]:
# Variables are the placeholder where we keep variety of data which we can use to write logic.

11

In [23]:
name="pulkit"
NAME="varshney"
name1="ram"
_name="krishna"

# snake cases (also know as pep8)
first_name = "pulkit"
testing_variable_for_strings = "kkkkk"

# camel cases
firstName = ""
PIE = "constant value"

class Person:
    pass

In [24]:
# comments (# )
# python wiil not read this and consider as statement.

In [26]:
#  for muti line comments

"""
hello everyone 
how are you 
how was your day
"""

'\nhello everyone \nhow are you \nhow was your day\n'

In [27]:
# doc strings 

def pwskills(name):
    """
    this is docstring for my function 
    
    : name : which will take name of students 
    :return: arrray of complete deatil of the students
    """
    # function body

In [1]:
# indentation

x = 5
if x > 10 :
    print(x)
else :
    print("10")

10

In [2]:
# statements
# available statements

a=1

# expression statement 
D=a+10

if condition:
    pass

import module

In [40]:
# pusedo code

In [58]:
a = 5

In [67]:
(id(a)) # to find the location of the variable.

140534974923120

In [63]:
U=10 # all operstion can be done btw two numeric value.

In [66]:
(id(U))

140534974923280

In [68]:
type(U)

int

In [73]:
"""
integer = 1,2,-2,-4,-100,etc
float = 1.2,-2.8, etc al  decimal value.
complex = 2+7j (i in maths), etc
"""

'\ninteger = 1,2,-2,-4,-100,etc\nfloat = 1.2,-2.8, etc al  decimal value.\ncomplex = 2+7j (i in maths), etc\n'

In [75]:
# string 
name  # given above

'pulkit'

In [85]:
# how to do capital or smaller all letters and repalce the value.
name1="PUlkiTvarSHney"
name1.upper()

'PULKITVARSHNEY'

In [84]:
name1.lower()

'pulkitvarshney'

In [88]:
name1.replace('Ulk','uLK')

'PuLKiTvarSHney'

In [91]:
# indexing or slicing counting start from 0 not 1
name1[5:9]

'Tvar'

In [92]:
# adding to variables
name1 + name

'PUlkiTvarSHneypulkit'

In [94]:
name1+" "+name

'PUlkiTvarSHney pulkit'

In [96]:
name1*5 # multiply or repeat the variable

'PUlkiTvarSHneyPUlkiTvarSHneyPUlkiTvarSHneyPUlkiTvarSHneyPUlkiTvarSHney'

In [3]:
name1.(...)    # ( click tab for more option)

SyntaxError: invalid syntax (2977525159.py, line 1)

In [103]:
# boolean or (logical) true or false value only

t = True
type(t)

bool

In [70]:
2**8

256

In [8]:
#list =[1,2,3,4,56,"a","d"] these are mutabe i.e. it can be modify.
mun=[1,2,3,45,5,6,7,8,9]

In [8]:
type(mun)

list

In [12]:
mun.append(21)   # counting start from 0 not 1.
                 # to add elements in list.

In [10]:
mun.pop(4)    # to remove the element at specific position.

5

In [24]:
mun[3]=52
mun

[1, 2, 3, 52, 5, 6, 7, 8, 9]

In [6]:
# tuple =(1,2,3,4,5,6,-1.2,"a") same as list but allow duplicate value in the function.
# difference is only brackets.
# And we can't change or modify tuple.ie. immutable
num1=(1,2,1,2,4,5)

In [37]:
type(num1) # has 2 functions only.

tuple

In [24]:
num1.index(1)

0

In [26]:
f= [1 , 2 , [45,456,485,123],(12,23,15)]
f[2][3]

123

In [9]:
# dictionary is a data structure that stores the value in value:key pairs.
# syntax of dict = {key : value1, key2 : value2, etc till n times }
# value maybe anything list, tuple, variable, etc
mun=[1,2,3,45,5,6,7,8,9]
d={'b' : 1, 'c' : mun, 'd': [1,5,8,85,65,75]}

In [42]:
d

{'b': '23', 'c': [1, 2, 3, 52, 5, 6, 7, 8, 9], 'd': [1, 5, 8, 85, 65, 75]}

In [41]:
d["b"] = "23" # to change the element.

In [5]:
mun=[1,2,3,45,5,6,7,8,9]
num1=(1,2,1,2,4,5)
dict.fromkeys(mun, num1)  # it create the new dictionary with specific elements.

{1: (1, 2, 1, 2, 4, 5),
 2: (1, 2, 1, 2, 4, 5),
 3: (1, 2, 1, 2, 4, 5),
 45: (1, 2, 1, 2, 4, 5),
 5: (1, 2, 1, 2, 4, 5),
 6: (1, 2, 1, 2, 4, 5),
 7: (1, 2, 1, 2, 4, 5),
 8: (1, 2, 1, 2, 4, 5),
 9: (1, 2, 1, 2, 4, 5)}

In [18]:
countries = ["India", "UK", "USA","China"]
states 
country = dict.fromkeys(countries,"states")
country

{'India': 'states', 'UK': 'states', 'USA': 'states', 'China': 'states'}

In [20]:
country["India"] = ["UP","MP"]
country["UK"] = ["England","Scotland"]
country["USA"] = ["Wastingdon","taxes"]
country["China"] = ["Tibet", "Xinjiang"]
country

{'India': ['UP', 'MP'],
 'UK': ['England', 'Scotland'],
 'USA': ['Wastingdon', 'taxes'],
 'China': ['Tibet', 'Xinjiang']}

In [ ]:
# set = {} it avoids duplicate and sort the data orderwise.
s={1,2,1,3,4,89,57,44,44,56}

In [ ]:
s

{1, 2, 3, 4, 44, 56, 57, 89}

In [62]:
type(s)

set

In [19]:
# frozen set: creates an immutable Set object from an iterable.
kk= (1,2,3,4,5,6,7,8,9)
gg = frozenset(kk)
gg

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [1]:
# standard IO

user_input = input("Enter your name:")
print(user_input)

Enter your name: Pulkit Varshney

Pulkit Varshney

In [67]:
# operator : operators are special symbols used for various operations on variables and values.

""" 
  types of operators 
1.airthmatic : + -  * / %(reminder/modulus) **(power)
2.comparison == != < > >= <=
3.logical AND OR NOT
4.bitwise & |(or) ~(not) ^(xor) <<(leftshift) >>(rightshift)
5.assignment = += -= *= /=
6.membership in , not in
7.identity is , is not
"""

' \n  types of operators \n1.airthmatic : + -  * / % **\n2.comparison == != < > >= <=\n3.logical AND OR NOT\n4.bitwise & |(or) -(not) ^(xor) <<(leftshift) >>(rightshift)\n5.assignment = += -= *= /=\n6.membership in , not in\n7.identity is , is not\n'

In [71]:
8%3

2

In [74]:
25**5

9765625

In [77]:
"Pulkit"+ "  " +"Varshney"

'Pulkit  Varshney'

In [14]:
"Pulkit "*5

'Pulkit Pulkit Pulkit Pulkit Pulkit '

In [81]:
6==8

False

In [84]:
8>=5

True

In [89]:
AA= 10
BB=20
print(f"equal operator {AA==BB}")
print(f"greator  operator {AA>BB}")
print(f"not equal operator {AA!=BB}")
print(f"lesser than operator {AA<BB}")
print(f"greater than equal to operator {AA>=BB}")
print(f"lesser than equal to operator {AA<=BB}")
# here f refers to formatting.

equal operator False
greator  operator False
not equal operator True
lesser than operator True
greater than equal to operator False
lesser than equal to operator True

In [93]:
# and operator used when there is more than one condition 
result = (7>5) and (9<5)   # if any of the condition is false then it show false in the result.
print(result)

False

In [95]:
# or operator
result1 = (7>5) or (9<5)
print(result1)

True

In [97]:
result2 = (7>5) and (1<11) or (9<5)
result2

True

In [99]:
# priority wise 
# not > and > or

In [101]:
result3 = not(2==4)
result3

True

In [102]:
result4 = not(2<=5)
result4

False

In [107]:
# logical operator applied on the boolean value while bitwise operator applied on integer value by manipulating individual bits.
d=5
f=3
e=d&f
e1=d|f
e2=~d
e3=d^f
e4=d<<2
e5=d>>2

print(e)
print(e1)
print(e2)
print(e3)
print(e4)
print(e5)

1
7
-6
6
20
1

In [119]:
# assignment operator
# assigning the value of the variables 
a=6
a+=6 # adding 6 in a at all values.
a-=3 # subtracting 3 in a at all values.
a*=2 # multipling 2 in a at all values.
a/=6 # dividing 6 in a at all levels/ values.

In [121]:
a

3.0

In [123]:
# membership operator used when the values are present in sequence.
name = "u" in "pulkit"
name

True

In [124]:
name = "y" not in "pulkit"
name

True

In [126]:
# identity operator used when we have to compare the memory location of the objects.
x = 'pulkit'
y=x
AA = x is not y

In [127]:
AA

False

In [ ]:
# type coversion is used when we have to change the type of the datatypes.

In [8]:
# implict type coversion :  This happens automatically by the Python interpreter without any user involvement.
a = 6     # integer
b = 1.2   # float
c = a+b   # float python interpret it without data loss.
c

7.2

In [4]:
type (c)

float

In [13]:
# explicit type coversion : when converting datatype manually. also known as type casting.
# coverting datatypes by built-in functions.
# int() , float() , str() , bool()

y= input("enter any number: ")
type(y)

enter any number:  5

str

In [15]:
y1=int(input("enter any number: "))
type(y1)

enter any number:  5

int

In [17]:
x1=254
x2=float(x1)
type(x2)
x2

254.0

In [2]:
mixed =[1,"2",2.3]
type(mixed)

list

In [6]:
ff=int(mixed[2])
type(ff)

int

In [ ]:
# conditional statements allow you to make decisions based on certain conditions.
# There are situations in real life when we need to make some decisions and based on these decisions, we decide what we should do next.

In [3]:
# if condition:  tells us that if a condition is true it will execute a block of statements and if the condition is false it wonâ€™t.
x = 25
if x > 5:
   print("yes") 

print(x<5)

yes
False

In [11]:
is_learning = False

if is_learning:
  print("its good")
    
print("nothing")

nothing

In [ ]:
hello = True 
if hello :
    print("how are you ")
    
print("bye")

bye

In [1]:
# if else

In [12]:
if is_learning:
    print("its good")
else:
    print("how to improve")

how to improve

In [15]:
is_learning = input("Are you learning:  ")

if is_learning == "Yes":
    print("Sahi jaa rahe ho Guru")
else:
    print("Kabhi toh kuch naya try kar")

Are you learning:   No

Kabhi toh kuch naya try kar

In [18]:
num = int(input("enter a number:   "))

if num%2 == 0:
    print("even")
else: 
    print("odd")

enter a number:    20

even

In [12]:
time = int(input(" enter the hour:  "))
                 
if time >=5 and time < 12 :
                 print("good morning")
elif time >= 12 and time < 16:
                 print("good after noon ")
elif time >=16 and time <20 :
                 print("good evening ")
else :
                 print ("good night")

 enter the hour:   16

good evening

In [24]:
# nested elif or if-else

In [37]:
day = "weekend"
kind_of_day = "sunny"

if day == "weekend":
    if kind_of_day == "sunny":
        print("move on a trip ")
    else:
        print("enjoy at home")
else:
    print ("back to work")

move on a trip

In [1]:
day = input("Enter the day:  ")

if day == "Saturday" or day == "Sunday":
    kind_of_day = input("Enter the kind of day:  ")
    if kind_of_day == "Sunny":
        print("move on a trip ")
    elif kind_of_day =="Rainny":
        print("let cook something and enjoy")
    else:
        print("enjoy at home")
else:
    print ("back to work")

Enter the day:   mongau

back to work

In [53]:
vip = True 
age = 16

if vip:
    if age>=18:
        if age<=65:
            print ("welcome, you are our vip customer")
        else:
            print("you are vip but not qualify for senior citizen")
    else:
        print ("vip status is for adults")
else:
    print("get vip status")

vip status is for adults

In [2]:
vip = input("Enter vip or not: ") 
age = input ("Enter age: ")

if vip == "Yes":
    if age >= "18":
        if age <= "65":
            print ("welcome, you are our vip customer")
        else:
            print("you are vip but not qualify for senior citizen")
    else:
        print ("vip status is for adults")
else:
    print("get vip status")

Enter vip or not:  25
Enter age:  52

get vip status

In [2]:
hungry= input("Feeling hungry: ")
if hungry == "yes":
    want = input("What do you want: ")
    if want == "breakfast":
        print("press 1")
    elif want == "lunch":
        print("press 2")
    elif want =="dinner":
        print("press 3")
    else:
        print("menu")
else:
    drink = input("Want a drink: ")
    if drink == "yes":
        print("press 4 for drink list")
    else:
        print("Have a good day.")

Feeling hungry:  no
Want a drink:  yes

press 4 for drink list

In [3]:
#  looping statements
# allows you to repeatedly execute a block of code.

In [21]:
# for loop: iterate over a sequenceif elements are string or list.



names = ['pulkit', 'ram','mohan','shiva']
name=[]
for name in names:
    print(name)

pulkit
ram
mohan
shiva

In [4]:
kp= []
x = 2
for kp in range(20):
    if kp%2 ==0:
        continue
    print(kp**x)

1
9
25
49
81
121
169
225
289
361
19

In [8]:
# range is used to generate a sequence of the function. 
for i in range (5):
    print(i)
# or list(range(0,5))

0
1
2
3
4

In [22]:
k=[1,2,"hello"]
char1= []
for char1 in k:
    print(char1)

1
2
hello

In [5]:
for j in range(5):
    print(j , end="")

01234

In [ ]:
# nested for loop
for name in names :
    print(name)
    for char in name:
        print(char)

pulkit
p
u
l
k
i
t
ram
r
a
m
mohan
m
o
h
a
n
shiva
s
h
i
v
a

In [1]:
for i in range (5):
    for j in range (i+1):
        print('*', end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [6]:
for i in range (10)[::-1]:
    print(i)

9
8
7
6
5
4
3
2
1
0

In [ ]:
# while loop: repeated execute a block of code as long as condition is true.

In [5]:
x = 1
while x < 5:
    print(x)
    x += 1

1
2
3
4

In [9]:
x = 1
while x <= 5:
    if x%2 == 0:
        print(x**2)
    elif x%3 ==0:
        print(x**3)
    else:
        print(x**4)
    x += 1

1
4
27
16
625

In [3]:
# continue : to skip that iteration.
# break: to disconyinue the loop before the predefined condition.
t = 0
while t<10:
    t = t+1
    if t%3 == 0:
        continue
    print(t)

1
2
4
5
7
8
10

In [7]:
course =["machine_learning","data_science", "stats"]
index = 0
while index < len(course):
    print(course[index])
    index = index + 1

machine_learning
data_science
stats

In [2]:
cor_password = "Pulkit8520"
password = input ("Enter password:   ")

while password != cor_password :
    print("galat h munna, ek baari fir dekh le")
    password = input ("is baar sahi se daal :   ")
    
print("welcome you are logged in.....")

Enter password:    euygf

galat h munna, ek baari fir dekh le

is baar sahi se daal :    vbjdas

galat h munna, ek baari fir dekh le

is baar sahi se daal :    kbsculs

galat h munna, ek baari fir dekh le

is baar sahi se daal :    Pulkit8520

welcome you are logged in.....

In [27]:
number = [1,2,3,4,5,6,7,8,9,10]
for number in number:
    if (number%3 == 0) or (number%5 == 0):
        continue
    print(number**2)

1
4
16
49
64

In [4]:
hh = " i want to became data scientist, very soon"
ll= "aeiou"
l2=[]
for i in hh:
    if i in ll:
        l2.append(i)
print(l2)
len(l2)

['i', 'a', 'o', 'e', 'a', 'e', 'a', 'a', 'i', 'e', 'i', 'e', 'o', 'o']

14

In [5]:
l1 = []
i = 1
while i <= 20:
    if i%2 != 0:
        print(i)
        l1.append(i)
    i = i+1
print(l1)

1
3
5
7
9
11
13
15
17
19
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

hello
hello
hello
hello
hello