In [25]:
""" Q1. Convert an integer to a floatig-point number."""
good = 52

good1 = float(good)
type(good1)
good1

52.0

In [44]:
""" Q2. Convert a float to an integer."""
hello = 5.1

hello1 = int(hello)
type(hello1)
hello1

5

In [32]:
""" Q3. Convert an integer to a string."""
go = 5

go2 = str(go)
type(go2)
go2

'5'

In [33]:
""" O4. Convert a list to a tuple. """
home = [1,2,3,4,5,6]

home1 = tuple(home)
type(home1)
home1

(1, 2, 3, 4, 5, 6)

In [14]:
""" Q5. Convert a tuple to a list. """
hut = (1,2,3,4,5,6,7,8,9)

hut1 = list(hut)
type(hut1)
hut1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
""" Q6. Convert a decimal number to binary. """
n = int(5.0)
l = []
while n != 0:
    i = n%2
    l.append(i)
    n = n//2
l

[1, 0, 1]

In [42]:
""" Q7. Convert a non zero number to boolean. """
have= 36

have1 = bool(have)
type(have1)
have1

True