In [5]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [118]:
a = 6
a+5

11

In [23]:
name="pulkit"
NAME="varshney"
name1="ram"
_name="krishna"

# snake cases (also know as pep8)
first_name = "pulkit"
testing_variable_for_strings = "kkkkk"

# camel cases
firstName = ""
PIE = "constant value"

class Person:
    pass

In [24]:
# comments (# )
# python wiil not read this and consider as statement.

In [26]:
#  for muti line comments

"""
hello everyone 
how are you 
how was your day
"""

'\nhello everyone \nhow are you \nhow was your day\n'

In [27]:
# doc strings 

def pwskills(name):
    """
    this is docstring for my function 
    
    : name : which will take name of students 
    :return: arrray of complete deatil of the students
    """
    # function body

In [38]:
# indentation

x = 5
if x > 10 :
    print(x)
else :
    print(10)

TypeError: 'int' object is not callable

In [8]:
# statements
# available statements

A=1

# expression statement 
D=a+10

if condition:
    pass

import module

NameError: name 'condition' is not defined

In [40]:
# pusedo code

In [58]:
a = 5

In [67]:
(id(a)) # to find the location of the variable.

140534974923120

In [63]:
U=10 # all operstion can be done btw two numeric value.

In [66]:
(id(U))

140534974923280

In [68]:
type(U)

int

In [73]:
"""
integer = 1,2,-2,-4,-100,etc
float = 1.2,-2.8, etc al  decimal value.
complex = 2+7j (i in maths), etc
"""

'\ninteger = 1,2,-2,-4,-100,etc\nfloat = 1.2,-2.8, etc al  decimal value.\ncomplex = 2+7j (i in maths), etc\n'

In [75]:
# string 
name  # given above

'pulkit'

In [85]:
# how to do capital or smaller all letters and repalce the value.
name1="PUlkiTvarSHney"
name1.upper()

'PULKITVARSHNEY'

In [84]:
name1.lower()

'pulkitvarshney'

In [88]:
name1.replace('Ulk','uLK')

'PuLKiTvarSHney'

In [91]:
# indexing or slicing counting start from 0 not 1
name1[5:9]

'Tvar'

In [92]:
# adding to variables
name1 + name

'PUlkiTvarSHneypulkit'

In [94]:
name1+" "+name

'PUlkiTvarSHney pulkit'

In [96]:
name1*5 # multiply or repeat the variable

'PUlkiTvarSHneyPUlkiTvarSHneyPUlkiTvarSHneyPUlkiTvarSHneyPUlkiTvarSHney'

In [97]:
name1.#( click tab for more option)

SyntaxError: invalid syntax (2519460302.py, line 1)

In [103]:
# boolean or (logical) true or false value only

t = True
type(t)

bool

In [70]:
2**8

256

In [16]:
#list =[1,2,3,4,56,"a","d"]
mun=[1,2,3,45,5,6,7,8,9]

In [18]:
type(mun)

list

In [32]:
mun.append(21)   # counting start from 0 not 1.
                 # to add elements in list.

In [34]:
mun.pop(4)    # to remove the element at specific position.

5

In [35]:
mun

[1, 2, 3, 45, 6, 7, 8, 21]

In [36]:
# tuple =(1,2,3,4,5,6,-1.2,"a") same as list but allow duplicate value inthe function.
# difference is only brackets.
# And we can't change or modify tuple.ie. mutable
num1=(1,2,1,2,4,5)

In [37]:
type(num1) # has 2 functions only.

tuple

In [46]:
num1.index(1)

0

In [50]:
num1.count(1)

2

In [53]:
# dictionary\ dict ={key : value1, key2 : value2, etc till n times }
# value maybe anything list, tuple, variable, etc
d={'b' : 1, 'c' : mun, 'd': [1,5,8,85,65,75]}

In [54]:
d

{'b': 1, 'c': [1, 2, 3, 45, 6, 7, 8, 21], 'd': [1, 5, 8, 85, 65, 75]}

In [56]:
type(d)

dict

In [58]:
d.fromkeys(mun, num1)  # it create the new dictionary with specific elements.

{1: (1, 2, 1, 2, 4, 5),
 2: (1, 2, 1, 2, 4, 5),
 3: (1, 2, 1, 2, 4, 5),
 45: (1, 2, 1, 2, 4, 5),
 6: (1, 2, 1, 2, 4, 5),
 7: (1, 2, 1, 2, 4, 5),
 8: (1, 2, 1, 2, 4, 5),
 21: (1, 2, 1, 2, 4, 5)}

In [59]:
# set = {} it avoids duplicate and sort the data orderwise.
s={1,2,1,3,4,89,57,44,44,56}

In [61]:
s

{1, 2, 3, 4, 44, 56, 57, 89}

In [62]:
type(s)

set

In [64]:
# standard IO

user_input = input("Enter your name:")
print(user_input)

Enter your name: Pulkit Varshney

Pulkit Varshney

In [67]:
# operator : operators are special symbols used for various operations on variables and values.

""" 
  types of operators 
1.airthmatic : + -  * / %(reminder/modulus) **(power)
2.comparison == != < > >= <=
3.logical AND OR NOT
4.bitwise & |(or) ~(not) ^(xor) <<(leftshift) >>(rightshift)
5.assignment = += -= *= /=
6.membership in , not in
7.identity is , is not
"""

' \n  types of operators \n1.airthmatic : + -  * / % **\n2.comparison == != < > >= <=\n3.logical AND OR NOT\n4.bitwise & |(or) -(not) ^(xor) <<(leftshift) >>(rightshift)\n5.assignment = += -= *= /=\n6.membership in , not in\n7.identity is , is not\n'

In [71]:
8%3

2

In [74]:
25**5

9765625

In [77]:
"Pulkit"+ "  " +"Varshney"

'Pulkit  Varshney'

In [80]:
"Pulkit"*5

'PulkitPulkitPulkitPulkitPulkit'

In [81]:
6==8

False

In [84]:
8>=5

True

In [89]:
AA= 10
BB=20
print(f"equal operator {AA==BB}")
print(f"greator  operator {AA>BB}")
print(f"not equal operator {AA!=BB}")
print(f"lesser than operator {AA<BB}")
print(f"greater than equal to operator {AA>=BB}")
print(f"lesser than equal to operator {AA<=BB}")
# here f refers to formatting.

equal operator False
greator  operator False
not equal operator True
lesser than operator True
greater than equal to operator False
lesser than equal to operator True

In [93]:
# and operator used when there is more than one condition 
result = (7>5) and (9<5)   # if any of the condition is false then it show false in the result.
print(result)

False

In [95]:
# or operator
result1 = (7>5) or (9<5)
print(result1)

True

In [97]:
result2 = (7>5) and (1<11) or (9<5)
result2

True

In [99]:
# pripority wise 
# not > and > or

In [101]:
result3 = not(2==4)
result3

True

In [102]:
result4 = not(2<=5)
result4

False

In [107]:
# logical operator applied on the boolean value while bitwise operator applied on integer value by manipulating individual bits.
d=5
f=3
e=d&f
e1=d|f
e2=~d
e3=d^f
e4=d<<2
e5=d>>2

print(e)
print(e1)
print(e2)
print(e3)
print(e4)
print(e5)

1
7
-6
6
20
1

In [119]:
# assignment operator
# assigning the value of the variables 
a=6
a+=6 # adding 6 in a at all values.
a-=3 # subtracting 3 in a at all values.
a*=2 # multipling 2 in a at all values.
a/=6 # dividing 6 in a at all levels/ values.

In [121]:
a

3.0

In [123]:
# membership operator used when the values are present in sequence.
name = "u" in "pulkit"
name

True

In [124]:
name = "y" not in "pulkit"
name

True

In [126]:
# identity operator used when we have to compare the memory location of the objects.
x = 'pulkit'
y=x
AA = x is not y

In [127]:
AA

False

In [ ]:
# type coversion is used when we have to change the type of the datatypes.

In [8]:
# implict type coversion :  This happens automatically by the Python interpreter without any user involvement.
a = 6     # integer
b = 1.2   # float
c = a+b   # float python interpret it without data loss.
c

7.2

In [4]:
type (c)

float

In [13]:
# explicit type coversion : when converting datatype manually.
# coverting datatypes by built-in functions.
# int() , float() , str() , bool()

y= input("enter any number: ")
type(y)

enter any number:  5

str

In [15]:
y1=int(input("enter any number: "))
type(y1)

enter any number:  5

int

In [17]:
x1=254
x2=float(x1)
type(x2)
x2

254.0

In [2]:
mixed =[1,"2",2.3]
dd=int(mixed[0])
type(dd)

int

In [4]:
ff=int(mixed[1])
type(ff)

int